@import "tailwindcss";

/* Import da fonte Obvia Medium localizada em src/assets/obvia-medium.otf */
@font-face {
  font-family: "Obvia";
  src: url("./assets/obvia-medium.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Import da fonte Forma DJR Micro localizada em src/assets/forma-djr-micro.otf */
@font-face {
  font-family: "FormaDJRMicro";
  src: url("./assets/forma-djr-micro.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  /* Rendering / smoothing */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  background-color: var(--background);

  --obvia: "Obvia", sans-serif;
  --forma-djr: "FormaDJRMicro", sans-serif;

  font-family: var(--forma-djr);
}

[data-theme="dark"] {
  --background: #141414;
  --accent: #350000;
  --accent-tint: #240000;
  --accent-muted: #9f1313;
  --primary: #ffffff;
  --foreground: #222222;

  --footer-logo: #2c0000;

  /* variáveis relacionadas a projetos */
  --foreground-tint: #2e2e2e;
  --logo-color: #b5b5b5;
}

[data-theme="light"] {
  --background: #ffd9d9;
  --accent: #b11e1e;
  --accent-tint: #c32828;
  --accent-muted: #350000;
  --primary: #000000;
  --foreground: #ffffff;

  --footer-logo: #ba2323;

  /* variáveis relacionadas a projetos */
  --foreground-tint: #d0d0d0;
  --logo-color: #2e2e2e;
}

@theme {
  /* exposição das variáveis para uso em componentes/tema */

  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-accent-tint: var(--accent-tint);
  --color-accent-muted: var(--accent-muted);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);

  --color-footer-logo: var(--footer-logo);

  /* variáveis relacionadas a projetos */
  --color-foreground-tint: var(--foreground-tint);
  --color-logo: var(--logo-color);

  /* tipografia */
  --font-title: var(--obvia);
  --font-body: var(--forma-djr);
}

.mwdt {
  @apply max-w-350 w-full mx-auto;
  &.footer {
    @apply max-w-360;
  }
}